@font-face {
  font-family: 'kanitsemibold';
  src: url('kanit-semibold-webfont.eot');
  src: url('kanit-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/kanit-fontfacekit/web-fonts/kanit_semibold_macroman/kanit-semibold-webfont.woff') format('woff2'),
       url('../fonts/kanit-fontfacekit/web-fonts/kanit_semibold_macroman/kanit-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'kanitregular';
  src: url('../fonts/kanit-fontfacekit/web-fonts/kanit_regular_macroman/kanit-regular-webfont.eot');
  src: url('../fonts/kanit-fontfacekit/web-fonts/kanit_regular_macroman/kanit-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/kanit-fontfacekit/web-fonts/kanit_regular_macroman/kanit-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open-sans-fontfacekit/web-fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('../fonts/open-sans-fontfacekit/web-fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-fontfacekit/web-fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* General */

body {
  --c-primary: #D2181B;
  /*
  --c-gray: #F7F7F7;
  --c-dark: #262424;
  --c-greenLight: #44E57B;
  --z-index-first: -400;
  --z-index-second: -200;
  --z-index-third: 200;
  --z-index-four: 400;
  --z-index-five: 600; */
  --font-semibold: 'kanitsemibold';
  font-family: 'open_sansregular';

}

a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'kanitregular';
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.85rem;
}

h3 {
  font-size: 1.27rem;
}

/* Utilities */

.h-min-content {
  height: min-content;
}

.h-25rem {
  height: 25rem;
}

.border-light {
  border-color: rgba(0, 0, 0, 0.23) !important;
}

.bg-dark-layer {
   background-color: rgba( 0, 0, 0, .5 );
   background-blend-mode: multiply;
}

.bg-light-layer {
  background-color: rgba( 255, 255, 255, .7 );
  background-blend-mode: multiply;

}

.z-index200 {
  z-index: var( --z-index-third );
}

.grid-wrp {
  display: grid !important;
}

.grid-12cols {
  grid-template-columns: repeat( 12, 1fr );
}

.grid-wrp-inline {
  display: inline-grid;
}

.outline-0-onfocus:focus {
  outline: 0 !important;
}

.background-no-repeat-cover {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center;
}

.bg-attachment-fixed {
  background-attachment: fixed !important;
}

.cursor-pointer {
  cursor: pointer;
}

.overflow-hidden {
  overflow-x: hidden !important;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed;
}

.h-100vh {
  height: 100vh;
}

.box-shadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

.flip {
  transform: scale(-1);
}

.border--wider {
  border-width: 3px !important;
}

.container-mg-t {
  margin-top: 8.5rem;
}

.font-grow {
  font-size: 1.5rem !important;
}

.font-bold {
  font-weight: 600;
  font-family: var(--font-semibold) !important;
}

.transition {
  transition: all 270ms ease;
}

.font-3rem {
  font-size: 3rem !important;
}

.vertical-align-super {
  vertical-align: super;
}

.justify-self-start {
  justify-self: start;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.justify-self-end {
  justify-self: end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-end {
  justify-items: end;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-self-center {
  justify-self: center !important;
}

.text-primary {
  color: var( --c-primary ) !important;
}

.whole-cols-width {
  grid-column: 1 / 13;
}

.font-uppercase {
  text-transform: uppercase;
}

.grid-col-gap3rem {
  grid-column-gap: 3rem;
}

/* Sections */

.s-home {
  background-image: url( ../img/home-bg.jpeg );
}

.s-about {
  background-image: url( ../img/about-bg.jpeg );
}

/* .s-about__header {
  grid-column: 3 / 6;
} */

/* .s-about__description {
  grid-column: 7 / 11;
} */

.s-services__heading {
  white-space: pre;
}

.s-showroom {
  background-image: url( ../img/about-bg.jpeg );
}

.special-bg {
  background-image: url( ../img/special-bg.jpg );
}

.footer__title::after {
  content: "";
  display: block;
  width: 2.7rem;
  height: .11rem;
  background: rgba(255, 255, 255, .85);
  margin-top: .78rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  /* margin-left: 7rem; */
}

/* .copyright-text::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, .5);
} */

.footer-items-opaque * {
  color: rgba(255, 255, 255, .87);
}

/* .footer-line::before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, .2);
  margin-top: -1.75rem;
} */


  /* Features */

.features-text::after {
  content: "";
  display: block;
  width: 2.5rem;
  height: .2rem;
  margin-top: .5rem;
  margin-left: 1rem;
  margin-bottom: .75rem;
  background: var(--c-primary);
}

/* Overwrite bootstrap */

/* .carousel-inner {
  overflow: visible !important;
} */

.carousel-indicators {
  bottom: -3.5rem !important;
}

.carousel-indicators .active {
  background: var(--c-primary) !important;
}

.carousel-indicators li {
  background: transparent !important;
  border: 1px solid var(--c-primary) !important;
}

.btn-primary {
  background-color: var(--c-primary) !important;
  border-color: var(--c-primary) !important;
}

.btn-dark {
  background-color: #000 !important;
}

.border-primary {
  border-color: var(--c-primary) !important;
}

.bg-dark {
  background: #000 !important;
}

.bg-primary {
  background-color: var(--c-primary) !important;
}

/* .btn-secondary {
  background-color: var(--c-secondary) !important;
} */


/* Modifiers */
.s-features {
  grid-column-gap: 2.3rem;
}

.s-testimonial__quoteUp {
  transform: translate( -.5rem, 1.5rem );
}

/* Components */
.bg-nav {
  background-color: rgba( 255, 255, 255, .35 );
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 15px;
}

.c-menu-icon-wrp {
  width: 4rem;
  height: 4rem;
}

.c-menu-icon {
  height: .18rem;
  width: 2rem;
}

.c-menu-icon::before {
  content: "";
  display: inline-block;
  height: .18rem;
  width: 2rem;
  background-color: #fff;
}

.c-menu-icon::after {
  content: "";
  display: inline-block;
  height: .18rem;
  width: 2rem;
  transform: translateY(-.68rem);
  background-color: #fff;
}

.icon-arrow-size {
  font-size: 1.35rem;
  /* Ojo */
  transform: translateY( .3rem );
}

/* Truck finder page */

.page-title-pseudoline::after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 3px;
  width: 4rem;
  background: var( --c-primary );
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.btn-finder {
  width: 13rem;
}

.contact-info__textarea {
  width: 100%;
}

.input-finder {
  opacity: .93;
}

@media (min-width: 1200px) {

  .form-contact-pseudo::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 15rem;
    margin-top: 2.85rem;
    margin-left: -7.35rem;
    position: absolute;
    background: rgba( 0, 0, 0, .13 );
  }
}

.contact-info-bg {
  background-image: url( ../img/home-bg.jpeg );
}

/* End truck finder page */

.quote-down {
  margin-top: -2.6rem;
}

.z-index200 {
  z-index: 200
}

.carousel-control-prev {
  position: static !important;
  background-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2015.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2237.3px%22%20height%3D%2232px%22%20viewBox%3D%220%200%2037.3%2032%22%20enable-background%3D%22new%200%200%2037.3%2032%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23D2181B%22%20d%3D%22M14.6%2C30.6L1.9%2C17.9c-1-1-1-2.6%2C0-3.6L14.6%2C1.7c1-1%2C2.6-1%2C3.6%2C0c1%2C1%2C1%2C2.6%2C0%2C3.6l-8.4%2C8.4h24.3%0D%0A%09c1.4%2C0%2C2.5%2C1.1%2C2.5%2C2.5c0%2C1.4-1.1%2C2.5-2.5%2C2.5H9.8l8.4%2C8.4c0.5%2C0.5%2C0.7%2C1.1%2C0.7%2C1.8s-0.2%2C1.3-0.7%2C1.8C17.2%2C31.6%2C15.6%2C31.6%2C14.6%2C30.6%0D%0A%09%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A) !important;
}

.carousel-control-next {
  position: static !important;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIzNy4zcHgiIGhlaWdodD0iMzJweCIgdmlld0JveD0iMCAwIDM3LjMgMzIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDM3LjMgMzIiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0QyMTgxQiIgZD0iTTIzLjIsMS43bDEyLjcsMTIuN2MxLDEsMSwyLjYsMCwzLjZMMjMuMiwzMC42Yy0xLDEtMi42LDEtMy42LDBjLTEtMS0xLTIuNiwwLTMuNmw4LjQtOC40SDMuNw0KCWMtMS40LDAtMi41LTEuMS0yLjUtMi41YzAtMS40LDEuMS0yLjUsMi41LTIuNUgyOGwtOC40LTguNGMtMC41LTAuNS0wLjctMS4xLTAuNy0xLjhzMC4yLTEuMywwLjctMS44QzIwLjcsMC43LDIyLjMsMC43LDIzLjIsMS43Ig0KCS8+DQo8L3N2Zz4NCg==) !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none !important;
}

/* .carousel-control-prev {
  left: 42.5%;
}

.carousel-control-next {
  right: 36%;
} */

/* .carousel-control-prev::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 2.75rem;
  width: 1px;
  height: 2.2rem;
  background-color: var(--c-primary);
} */

.carousel-control--fix {
  background-repeat: no-repeat !important;
  transform: translateY(1rem);
  height: 2rem;
  opacity: .85 !important;
}

/* .carousel-control-prev {
} */

/* .collapse-btn-wrp {
  width: 4.25rem;
  height: 4.25rem;
} */

/* Media queries */

@media (max-width: 1200px) {

  .s-about__title {
    border-right: 0 !important;
  }

  .s-about__title::after {
    content: "";
    display: block;
    height: 1.75px;
    width: 2.75rem;
    background: #fff;
    margin: 0 auto;
  }

}

/* @media ( min-width: 1200px ) {

} */

@media (min-width: 992px) {
  .s-features__1st::before {
    content: "01";
    display: block;
    position: absolute;
    color: #D2181B;
    font-family: var(--font-semibold);
    font-size: 6.25rem;
    top: -6rem;
    justify-self: center;
    opacity: .18;
  }

  .s-features__2nd::before {
    content: "02";
    display: block;
    position: absolute;
    color: #000000;
    font-family: var(--font-semibold);
    font-size: 6.25rem;
    top: -6rem;
    justify-self: center;
    opacity: .18;
  }


  .s-features__3rd::before {
    content: "03";
    display: block;
    position: absolute;
    color: #D2181B;
    font-family: var(--font-semibold);
    font-size: 6.25rem;
    top: -6rem;
    justify-self: center;
    opacity: .18;
  }

  .d-lg-grid {
    display: grid !important;
  }

  .carousel-indicators {
    display: flex !important;
  }


}

@media (max-width: 992px) {
  .nav-menu-wrp {
    height: 100vh;
    background: #000 !important;
    /* margin-top: -1rem; */
    position: absolute;
    width: 100%;
    left: 1rem;
    /* opacity: 0; */
    /* top: -45rem; */
  }

  .nav-menu-wrp-show {
    opacity: 0;
    transform: translateY(-39rem);
  }

}

@media (max-width: 768px) {
  .s-showroom__title {
    border-left: 0 !important;
  }
}

@media (max-width: 480px) {

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.65rem;
  }

}
