@font-face {
  font-family: 'kanitsemibold';
  src: url('kanit-semibold-webfont.eot');
  src: url('kanit-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/kanit-fontfacekit/web-fonts/kanit_semibold_macroman/kanit-semibold-webfont.woff') format('woff2'),
       url('../fonts/kanit-fontfacekit/web-fonts/kanit_semibold_macroman/kanit-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'kanitregular';
  src: url('../fonts/kanit-fontfacekit/web-fonts/kanit_regular_macroman/kanit-regular-webfont.eot');
  src: url('../fonts/kanit-fontfacekit/web-fonts/kanit_regular_macroman/kanit-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/kanit-fontfacekit/web-fonts/kanit_regular_macroman/kanit-regular-webfont.woff2') format('woff2'),
       url('../fonts/kanit-fontfacekit/web-fonts/kanit_regular_macroman/kanit-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open-sans-fontfacekit/web-fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('../fonts/open-sans-fontfacekit/web-fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-fontfacekit/web-fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('../fonts/open-sans-fontfacekit/web-fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* General */

body {
  --c-primary: #D2181B;
  /*
  --c-gray: #F7F7F7;
  --c-dark: #262424;
  --c-greenLight: #44E57B;
  --z-index-first: -400;
  --z-index-second: -200;
  --z-index-third: 200;
  --z-index-four: 400;
  --z-index-five: 600; */
  --font-semibold: 'kanitsemibold';
  font-family: 'open_sansregular';

}

a:hover,
a:focus {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'kanitregular';
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.85rem;
}

/* Utilities */

.h-min-content {
  height: min-content;
}

.h-25rem {
  height: 25rem;
}

.border-light {
  border-color: rgba(0, 0, 0, 0.23) !important;
}

.bg-dark-layer {
   background-color: rgba( 0, 0, 0, .5 );
   background-blend-mode: multiply;
}

.bg-light-layer {
  background-color: rgba( 255, 255, 255, .7 );
  background-blend-mode: multiply;

}

.z-index200 {
  z-index: var( --z-index-third );
}

.grid-wrp {
  display: grid !important;
}

.grid-12cols {
  grid-template-columns: repeat( 12, 1fr );
}

.grid-wrp-inline {
  display: inline-grid;
}

.outline-0-onfocus:focus {
  outline: 0 !important;
}

.background-no-repeat-cover {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center;
}

.bg-attachment-fixed {
  background-attachment: fixed !important;
}

.cursor-pointer {
  cursor: pointer;
}

.overflow-hidden {
  overflow-x: hidden !important;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed;
}

.h-100vh {
  height: 100vh;
}

.box-shadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

.flip {
  transform: scale(-1);
}

.border--wider {
  border-width: 3px !important;
}

.container-mg-t {
  margin-top: 8.5rem;
}

.font-grow {
  font-size: 1.5rem !important;
}

.font-bold {
  font-weight: 600;
  font-family: var(--font-semibold) !important;
}

.transition {
  transition: all 270ms ease;
}

.font-3rem {
  font-size: 3rem !important;
}

.vertical-align-super {
  vertical-align: super;
}

.justify-self-start {
  justify-self: start;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.justify-self-end {
  justify-self: end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-end {
  justify-items: end;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-self-center {
  justify-self: center !important;
}

.text-primary {
  color: var( --c-primary ) !important;
}

.whole-cols-width {
  grid-column: 1 / 13;
}

.font-uppercase {
  text-transform: uppercase;
}

.grid-col-gap3rem {
  grid-column-gap: 3rem;
}

/* Sections */

.s-home {
  background-image: url( ../img/home-bg.jpeg );
}

.s-about {
  background-image: url( ../img/about-bg.jpeg );
}

.s-about__header {
  grid-column: 3 / 6;
}

.s-about__description {
  grid-column: 7 / 11;
}

.s-services__heading {
  white-space: pre;
}

.s-showroom {
  background-image: url( ../img/about-bg.jpeg );
}

.special-bg {
  background-image: url( ../img/special-bg.jpg );
}

.footer__title::after {
  content: "";
  display: block;
  width: 2.7rem;
  height: .11rem;
  background: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}



  /* Features */

.s-features__1st::before {
  content: "01";
  display: block;
  position: absolute;
  color: #D2181B;
  font-family: var(--font-semibold);
  font-size: 6.25rem;
  top: -6rem;
  justify-self: center;
  opacity: .18;
}

.s-features__2nd::before {
  content: "02";
  display: block;
  position: absolute;
  color: #000000;
  font-family: var(--font-semibold);
  font-size: 6.25rem;
  top: -6rem;
  justify-self: center;
  opacity: .18;
}


.s-features__3rd::before {
  content: "03";
  display: block;
  position: absolute;
  color: #D2181B;
  font-family: var(--font-semibold);
  font-size: 6.25rem;
  top: -6rem;
  justify-self: center;
  opacity: .18;
}

/* Overwrite bootstrap */
.btn-primary {
  background-color: var(--c-primary) !important;
  border-color: var(--c-primary) !important;
}

.btn-dark {
  background-color: #000 !important;
}

.border-primary {
  border-color: var(--c-primary) !important;
}

.bg-dark {
  background: #000 !important;
}

.bg-primary {
  background-color: var(--c-primary) !important;
}

/* .btn-secondary {
  background-color: var(--c-secondary) !important;
} */


/* Modifiers */
.s-features {
  grid-column-gap: 2.3rem;
}

.s-testimonial__quoteUp {
  transform: translate( -.5rem, 1.5rem );
}

/* Components */
.bg-nav {
  background-color: rgba( 255, 255, 255, .35 );
}
