@font-face {
    font-family: 'kanitthin';
    src: url('kanit-thin-webfont.eot');
    src: url('kanit-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('kanit-thin-webfont.woff2') format('woff2'),
         url('kanit-thin-webfont.woff') format('woff'),
         url('kanit-thin-webfont.ttf') format('truetype'),
         url('kanit-thin-webfont.svg#kanitthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

